* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}
li {
  list-style: none;
}
body {
  font-family: "Source Code Pro";
}
.textbox span {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn {
  width: 200px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid lightgray;
  border-radius: 30px;
  padding: 4px;
}
.btn:hover {
  border-radius: 0px;
  transition: 0.5s;
}

header .nav_bar {
  position: relative;
  width: 100%;
  display: flex;
  background-color: #263343;
  justify-content: space-around;
  align-items: center;
  padding: 8px 12px;
  z-index: 9999;
}
header .navbar_logo {
  font-size: 24px;
  color: white;
}
header .navbar_logo i {
  color: #d49466;
}
header .navbar_meun {
  display: flex;
  padding-left: 0;
}
header .navbar_meun li {
  padding: 8px 12px;
}
header .navbar_meun li:hover {
  background-color: #d49466;
  border-radius: 4px;
}
header .icon {
  display: flex;
  color: white;
  align-items: center;
  padding-left: 0;
}
header .icon li {
  padding: 8px 8px;
}
.nabar_toogleBtn {
  position: absolute;
  right: 3%;
  top: 0;
  padding-top: 8px;
  font-size: 24px;
  display: none;
  color: #d49466;
}

header #screen {
  position: relative;
  width: 100%;
  height: 100vh;
}
header #screen video {
  filter: brightness(0.5);
}
header #textbox {
  color: white;
  position: absolute;
  left: 10%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
header #textbox button {
  margin-left: 20px;
}
header #textbox span {
  font-size: 3rem;
  font-weight: bold;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

section article {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

section .textbox {
  max-width: 1200px;
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
section #InformationUse {
  position: relative;
}
section #InformationUse .textbox {
  width: 100%;
  position: absolute;
  left: 10%;
  top: 30%;
}
section #MOBILITYTECH {
  width: 100%;
  height: 100vh;
  position: relative;
}
section #MOBILITYTECH .textbox {
  width: 100%;
  position: absolute;
  left: 10%;
  top: 20%;
}
section #carlist {
  position: relative;
}
section #carlist .textbox {
  position: absolute;
  left: 10%;
  top: 20%;
}
footer {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
}
footer .textbox {
  max-width: 1300px;
  width: 100%;
  padding-top: 2%;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 20px;
}
footer .textbox ul {
  display: flex;
  gap: 30px;
}
footer .textbox ul li {
  border-right: 1px solid black;
  padding-right: 20px;
}
footer .textbox ul li:last-child {
  border-right: 0;
}
footer .textbox hr {
  margin-top: 20px;
}
footer .textbox a {
  color: black;
  font-size: large;
  font-weight: 700;
}
footer .textbox h2 {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  header .nav_bar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  header .navbar_meun {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  header .navbar_meun li {
    width: 100%;
    text-align: center;
  }
  header .icon {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 8px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: heigth 0.5s ease;
  }
  header .navbar_meun {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.9s ease, heigth 0.5s ease;
  }

  .navbar_meun.visible {
    opacity: 1;
    height: auto;
  }
  .icon.visible {
    display: flex;
    opacity: 1;
    height: auto;
  }
  .nabar_toogleBtn {
    display: block;
  }
  header #textbox {
    top: 40%;
    left: 5%;
  }
  header #textbox span {
    font-size: 1.8rem;
    padding: 4px;
  }
  section #InformationUse .textbox {
    top: 40%;
    left: 3%;
  }
  .textbox span {
    font-size: 1.8rem;
    padding: 4px;
  }
  section #MOBILITYTECH .textbox {
    top: 40%;
    left: 3%;
  }
  section #carlist .textbox {
    top: 40%;
    left: 3%;
  }
  footer .textbox {
    padding: 20px;
  }
  footer .textbox a {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  footer .textbox {
    max-width: 800px;
    width: 100%;
    padding-left: 20px;
  }
}
